@font-face{
	font-family: 'Gilroy';
	src: url('./fonts/Gilroy-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Gilroy';
	src: url('./fonts/Gilroy-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}
body {
	font-family: "Gilroy", sans-serif;
	font-size: 14px;
	font-weight: 400;
}
* {
	box-sizing: border-box;
}
body {
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	color: #242424;;
	font-weight: 400;
}
ul, ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #DE002B;
}
.header_wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #FFC600;
}
.header_title h1 {
	margin: 0;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #000000;
}
.header_burger {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_burger a {
	height: 54px;
    width: 54px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid #E1B10A;
}
.header_cart a {
	width: 54px;
	height: 54px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px solid #E1B10A;
}
.header_title {
	display: flex;
	align-items: center;
}
@media (max-width: 460px) {

}
